
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><%=t('phone')%></button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%=t('phone')%></h4>
        </div>
        <div class="modal-body">
          <form class='form-group'> 
    <label><%=t('my_phone_number')%></label>
    <img src="/img/il.png">

    <% if cu %>
    <%= cu['phone'] %>
    <% else %>

    <div class='input-group'>
      <input type="text" name='phone' id='quote_phone' class="form-control bfh-phone" zdata-format="972 (ddd) ddd-dddd" required placeholder='052-123-4567'>
    </div>
    <% end %>
  </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
