<script id="user_details_template" type="x-tmpl-mustache"> 
  <div class='single_supplier_box'>
    <h3><b>{{ name }}</b></h3>
    <div> {{address}},  {{ city }} </div>
    <div> Treatments: {{ treatments }} </div>
    
    <div> Description:  {{ description }} </div>
    <div> Home visits:  {{ home_visits }} </div> 
    <div> Profession:   {{ profession }}  </div>
  </div>
</script>

<div id="supplier" class='noDisplay'>
    <!-- <h1>Cosmetitian</h1> -->
    <div id='singleSupplier'>
    </div>
    <p>
      <div><button type="button" id="contact_supplier_button" onclick="show_contact_supplier()" class='btn btn-raised btn-primary'>Contact supplier</button>
      </div>
    </p>
  </div>
