<!-- <div> {{address}},  {{ city }} </div> -->
<script id="user_details_template" type="x-tmpl-mustache"> 
  <div class='single_supplier_box'>
    <h3><b>{{ name }}</b></h3>
    <img src='{{pic_url}}' style='' class='supplier-img'/>
    <div> Treatments: {{ treatments }} </div>
    
    <div> Description:  {{ description }} </div>
    <div> Home visits:  {{ home_visits }} </div> 
    <div> Profession:   {{ profession }}  </div>
  </div>
</script>

<div id="supplier" class='noDisplay centerText page1'>
    <!-- <h1>Cosmetitian</h1> -->
    <div id='singleSupplier'>
    </div>
    <p>
      <div><button type="button" id="contact_supplier_button" onclick="show_contact_supplier()" class='btn btn-raised btn-custom-darken'>Send SMS <i class="fa fa-envelope-o" aria-hidden="true"></i></h1></button>
      </div>
    </p>
</div>
