.navbar {
    /* border: 0; */
    border-radius: 0;
    margin-bottom: 0;
    font-size: 13px;
    letter-spacing: 2px;
    /* color: #000; */
    background: transparent;
}

.header-logo {
    background-image: url('../img/logo2.png');
    height: 50px;
    /* border: 1px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    display: inline-block;
    background-position-y: 13px;
}

.navbar-nav li a:hover {
    color: #ff1d1d !important;
    /* background-color: white !important; */
    color: black;
}

.footer-color {
    /* background-color: #ffffff; */
    color: #212121;
    font-weight: 100;
}

.logo-wrapper {
    width: 193px;
    float: right;
    margin-right: 13px;
}

.navbar-default .navbar-brand {
    font-weight: 300;
    font-size: 29px;
    letter-spacing: 0px;
    font-style: initial;
    /* display: inline-block; */
}


@media (min-width: 768px) {
    
    .navbar-header {
        text-align: right;
        display: inline-block;
        /* border: 1px solid royalblue; */
        float: right;
    }

    .container {
        display: inline-block;
        width: 100%;
        padding: 0px 10px 0px 10px;
        margin: 0;
        letter-spacing: 2px;
        /* background: rgba(255, 255, 255, 0.78); */
        margin-top: 20px;
        margin-bottom: 30px;
        /* border-top: 1px solid rgba(120, 120, 120, 0.26); */
        /* border-bottom: 1px solid rgba(120, 120, 120, 0.29); */
    }


    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        width: 140px;
        /* border: 1px solid red; */
        margin: 0;
        /* letter-spacing: 1px; */
        color: #ff5c57;
    }

    .navbar-right {
        float: right !important;
        margin-right: 0px;
        /* width: 100%; */
        /* border: 1px solid; */
    }

}



