<script id="found_users_template" type="x-tmpl-mustache">
	{{#users}}
	<div class='btn btn-block btn-s btn-custom-lighten found_user btn-{{profession_color}}' onclick="click_user('{{_id}}')">
		<div class='row centerText'>			
			<span class='col-md-12 col-sm-12 col-xs-12'>
				<span class='supplier-list-img-container'>
					<img src={{pic_url}} class='supplier-list-img' style=''>
					<div class="ct"><i class="fa fa-lg fa-envelope" style="color: black; margin-top: 10px; font-size: 22px; "></i></div> </span>
				<div class="single-user-mustache-details">
					<div>{{name}}</div>
					<div>{{profession}}</div>
					<div>{{treatments}}</div> 
					<div>{{address}}</div>
					<div>{{home_visits}}</div>
				</div>

			</span>
		</div>
	</div>
	{{/users}}
</script>
