<div id="loader" class='noDisplay' style='text-align: center'>
		<img src="http://www.vunuti.com/files/theme/loader4.gif"  style="width:128px;height:128px;">
	</div>

	<div id="results" class='noDisplay'> 
		<h4 id ="users_count" class="centerText"></h4> 
		<div id='resultsList'>

		</div>
	</div>