  <div id="loader" class='noDisplay' style='text-align: center'>
		<img src="img/pie.gif"  style="width:128px;height:128px;">
	</div>

	<div id="results" class='page1 noDisplay'> 
	<%= erb :"search/quote_modal", locals: locals %>	
		<h4 id ="users_count" class="centerText"></h4> 
		<div id='resultsList'>

		</div>
	</div>