<style>
.footer-color { 
    background-color: #c2d4d8;
    color: #ffffff;
    
}
</style>

<footer class="container-fluid footer-color text-center">
  <p> 2016 (C) All Rights Reserved to COSMETICALL <a href="http://www.cosmeticall.com">www.cosmeticall.com</a></p> 
</footer>