<style>
.footer-color { 
    background-color: #c2d4d8;
    color: #ffffff;
    
}
</style>

<footer class="container-fluid footer-color text-center">
  <p style='margin-top:10px'> 2016 (c) all rights reserved, <a href="http://www.cosmeticall.co.il">cosmeticall.co.il</a></p> 
</footer>