<div class='page1' style='background-color: #dbe9d8' >

<div id="login_enter_phone">


	<p>
		<h1 style="font-family: verdana;">Log In</h1>
	</p>

	<form class='form-group' action='/login' method='post'>

		<label>Phone</label>
		<img src="/img/il.png">
		<p>
			<div class='input-group'>
				<input type="text" name='phone' class="form-control bfh-phone" placeholder="(054) 123-4567" data-format="972 (ddd) ddd-dddd" required>
			</div>
		</p>
		<p>
			<button class='btn btn-lg btn-raised btn-custom-darken' type='submit'>Log in &nbsp; →</button>
		</p>

	</form>
</div>



<div id="login_follow_link">
 
</div>

<div id="login_enter_code">
</div>

</div>

