<div class='page1container'>
	<div class='page1' style='margin-top:20px'>

	<div id="login_enter_phone">


		<p>
			<h1><%=t('log_in')%></h1>
		</p>

		<form class='form-group' action='/login' method='post'>

			<label><%=t('phone')%></label>
			<img src="/img/il.png">
			<p>
				<div class='input-group'>
					<input type="text" name='phone' class="form-control bfh-phone" placeholder="(054) 123-4567" data-format="972 (ddd) ddd-dddd" required>
				</div>
			</p>
			<p>
				<button class='btn btn-lg btn-raised btn-custom-darken' type='submit'>&nbsp;→ <%=t('log_in')%></button>
			</p>

		</form>
	</div>



	<div id="login_follow_link">
	 
	</div>

	<div id="login_enter_code">
	</div>

	</div>
</div>
