<div style='text-align: center'>
  <h1> תשלום </h1>

  כדי להופיע בתוצאות החיפוש, עלייך להירשם כמנוי/ה. להירשם, <a href="https://ng.paymeservice.com/subscription/template/14745743-39MZT4L7-NXSBPGB1-SDEVLS7K">
לחצ/י כאן.
</a>

  לאחר התשלום, תוך 48 שעות נאשר את הפרופיל שלך ותופיע/י בתוצאות החיפוש. 
</div>